<div class="container mx-auto pt-4 px-4 divide-gray-300">
  <img src="../../../assets/images/logo.png" class="pb-4" alt="">
  <hr>
  <div class="flex justify-between py-4">
    <h1 class="text-2xl font-bold align-middle pt-1 ">My projects</h1>

    <button class="text-lg bg-red-500 rounded-md text-white	p-2 hover:bg-red-700 focus:outline-none align-middle" [routerLink]="'createProject/new'">
      <i class="fas fa-plus text-base px-1"></i>
      Add project
    </button>
  </div>
  <hr>
  <div class="py-5">
    <projectTable></projectTable>
  </div>
</div>